<a href="https://colab.research.google.com/github/alamincse6615/ml/blob/master/file_upload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
!wget https://github.com/fuwiak/faster_ds/blob/master/sample_data/titanic.csv

--2023-03-26 06:26:53--  https://github.com/fuwiak/faster_ds/blob/master/sample_data/titanic.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘titanic.csv’

titanic.csv             [ <=>                ] 187.57K  --.-KB/s    in 0.04s

2023-03-26 06:26:53 (4.26 MB/s) - ‘titanic.csv’ saved [192075]

In [14]:
!ls

drive  sample_data  titanic.csv

In [15]:
import pandas as pd

In [21]:
pd.read_csv('drive/MyDrive/ml/titanic.csv',sep='\t').head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# New Section

In [22]:
! git clone https://github.com/alamincse6615/ml.git

Cloning into 'ml'...
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 5 (delta 0), reused 5 (delta 0), pack-reused 0
Unpacking objects: 100% (5/5), 195.53 KiB | 2.36 MiB/s, done.

In [23]:
import pandas as pd

In [24]:
!ls

drive  ml  sample_data	titanic.csv

In [31]:
pd.read_csv('ml/Bengaluru_House_Data.csv',sep=',').head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

# New Section